<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>MapTilerAPIKey</key>
	<string>$(MAPTILER_API_KEY)</string>
	<key>MapTilerStyleId</key>
	<string>$(MAPTILER_STYLE_ID)</string>
	<key>MapTilerUserAgent</key>
	<string>$(MAPTILER_USER_AGENT)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
